
/Source/MBMS_APP/bin
/Source/.vs
/Source/MBMS_APP.DataAccess/bin/Debug/
/Source/MBMS_APP.DataAccess/obj/Debug/
/Source/MBMS_APP.Framework/bin/Debug/
/Source/MBMS_APP.Framework/obj/Debug/
/Source/MBMS_APP.Busines/obj/Debug/
/Source/MBMS_APP.Busines/bin/Debug/
/Source/packages
/Source/MBMS_APP/obj
/Source/MBMS_APP/obj/Debug/
/Source/MBMS_APP/bin/Debug/
/Source/MBMS_APP.Business/bin/Debug/MBMS_APP.Business.dll
/Source/MBMS_APP.Business/bin/Debug/MBMS_APP.Business.pdb
/Source/MBMS_APP.Business/bin/Debug/MBMS_APP.DataAccess.pdb
/Source/MBMS_APP.Business/bin/Debug/MBMS_APP.DataAccess.dll
/Source/MBMS_APP.Business/bin/Debug/MBMS_APP.Framework.dll
/Source/MBMS_APP.Business/bin/Debug/MBMS_APP.Framework.pdb
/Source/MBMS_APP.Business/obj/Debug/MBMS_APP.Business.csproj.AssemblyReference.cache
/Source/MBMS_APP.Business/obj/Debug/MBMS_APP.Business.csproj.CoreCompileInputs.cache
/Source/MBMS_APP.Business/obj/Debug/MBMS_APP.Business.csproj.FileListAbsolute.txt
/Source/MBMS_APP.Business/obj/Debug/MBMS_APP.Business.dll
/Source/MBMS_APP.Business/obj/Debug/MBMS_APP.Business.pdb
/Source/MBMS_APP.Business/bin/Debug/MBMS_APP.Business.pdb
/Source/MBMS_APP.Business/bin/Debug/MBMS_APP.DataAccess.dll
/Source/MBMS_APP.Business/bin/Debug/MBMS_APP.DataAccess.pdb
/Source/MBMS_APP.Business/bin/Debug/MBMS_APP.Framework.dll
/Source/MBMS_APP.Business/bin/Debug/MBMS_APP.Framework.pdb
/Source/MBMS_APP.Business/obj/Debug/MBMS_APP.Business.csproj.AssemblyReference.cache
/Source/MBMS_APP.Business/obj/Debug/MBMS_APP.Business.csproj.CoreCompileInputs.cache
/Source/MBMS_APP.Business/obj/Debug/MBMS_APP.Business.csproj.FileListAbsolute.txt
/Source/MBMS_APP.Business/obj/Debug/MBMS_APP.Business.dll
/Source/MBMS_APP.Business/obj/Debug/MBMS_APP.Business.pdb
/Source/MBMS_APP.Business/bin/Debug/MBMS_APP.Business.dll
/Source/MBMS_APP/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Source/MBMS_APP/obj/Debug/MBMS_APP.csproj.AssemblyReference.cache
/Source/MBMS_APP/obj/Debug/MBMS_APP.csproj.CoreCompileInputs.cache
/Source/MBMS_APP/obj/Debug/MBMS_APP.csproj.FileListAbsolute.txt
/Source/MBMS_APP/obj/Debug/MBMS_APP.dll
/Source/MBMS_APP/obj/Debug/MBMS_APP.pdb
/Source/MBMS_APP/.vs
/Source/MBMS_APP/obj/Debug/MBMS_APP.csproj.AssemblyReference.cache
/Source/MBMS_APP/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Source/MBMS_APP/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
